:root{
    --article-background: darkgrey;
}

input[type="submit"]{ /* Reubico el button de "Buscar" */
    float: right;
}

fieldset{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

main>h1{ /* Extilizo el titulo de el resultado de la busqueda */
    clear: both;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

article{ /* Estilizo los resultados de la busqueda */
    background: var(--article-background);
    padding: 1rem;

    display:flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

aside{ /* Estilizo la publicidad */
    border: 1px black solid;
    text-align: center;
    margin: 1rem 0.3rem;
    padding: 1rem;
}


@media (min-width: 1000px){
    main{
        display: grid;
        grid-template-areas:
        "header header"
        "aside form"
        "aside resultados"
        "footer footer";
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 10% 30% 50% 10% ;
    }

    main>header{
        grid-area: header;
    }

    main>form{
        grid-area: form;
    }
    main>h1, main>ul{
        grid-area: resultados;
    }
    main>aside{
        grid-area: aside;
        height: 50vh;
    }
    main>footer{
        grid-area: footer;
    }

    input[type="submit"]{
        float:none;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    main>h1{
        clear: none;
        margin-top: 0px;
    }
    
    article{
        margin-top: 2rem;
    }

}