# Ver todos los niveles disponibles en 
# URL
LOG_LEVEL=DEBUG

# Path es relativo a la raiz del proyecto
LOG_PATH='/logs/app.log'

#Configuración de la DB 
DB_ADAPTER=
DB_HOSTNAME=
DB_DBNAME=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_CHARSET=