{% extends "parts/baseAsideDown.twig" %}

{% block header %}
    <h1> <img src="/assets/imagenes/logo.png" alt="Logo empresarial" width="50" height="50"> Enterprise Name </h1>
    {{ parent() }}
{% endblock %}

{% block main %}
        <header>
            <h1>Socios</h1>
        </header>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for socio in socios %}
                    <tr>
                        pepe
                        <td>{{socio.fields.nombre}} </td>
                        <td>{{socio.fields.email}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}