
body>header{
    width: 100%;
    height: 10%;
    border: solid blue;
}

nav>ul>li{
    display: none;
}

main>header{
    width: 100%;
    height: 10%;

    background: #C4C4C4;

    border: solid red;
}

body>footer{
    width: 100%;
    height: 10%;

    background: #C4C4C4;
    border: solid #000000;

}

.social_media{
    display: none;
}

main>section{
    width: 100%;
    height: 88%;

    border: solid green;
}

body>main{
    width: 100%;
    height: 592px;

    background: white;
}

main>section{
    height: calc(100% - 125px);
    width: calc(100% - 60px);
    margin: 25px;
    background: lightgrey;
}

main>header>h1{
    line-height: 60px;
    text-align: center;
}

body{ 
    font-family: Roboto;
}

section>ol{
    background: rgb(109,98,98);
    width: 50%;
    height: calc(100% - 43px);
    
}

section li{
    background: lightgrey;
    width: 40%;
    height: 10%;
    
    
}

section>header{
    
}
details>summary~*{
    position: relative;
    left: 1000px;
}


