<address>
    <P>Tel : XXX-XXX-XXX </P>

    <P>Email : <a href="mailto:webmaster@example.com">webmaster@example.com</a>.</P>
    <P>Calle no se me ocurre al 1983, Luján</P>
</address>

<ul>
    <li><a href="https://www.instagram.com">Instagram</a></li>
    <li><a href="https://www.facebook.com">Facebook</a></li>
    <li><a href="https://www.whatsapp.com">Whatsapp</a></li>
</ul>