<nav>
    <ul id="menu" open="">
        
    {% for option in menu %}
        <li name="{{option.name}}" class="buttonNav"><a href="{{option.href}}">{{option.name}}</a></li>
    {% endfor %}
    </ul>
</nav>