<meta charset = " UTF-8 " >
<title><?= "Enterprise Name - " . $titulo ?></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/assets/style/style.css"/>
<meta name="description" content="<?=$descripcion?>"/>
<script src="/assets/js/components/Paw.js"></script>
<script src="/assets/js/App.js"></script>


