@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700;900&display=swap');
@import "reset.css";

html{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}


/*box-sizing se usa para mejorar la experiencia de uso de grids.*/
* {
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas: "header header header"
                             "main    main    main"
                             "aside  aside   aside";

    grid-template-columns: 10vw 80vw 10vw;
    align-items:center;
    justify-content: center;
}


/*--------------------------header--------------------------------------*/
body>header{
    grid-area: header;
    margin-bottom: 1vh;

}

body>header>h1{
    border: solid;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #C4C4C4;

}

body>header>nav{
    display: inline-block;
    display: none;
}
body>header>nav>ul>li{
    display: inline-block;
}

/*--------------------------main--------------------------------------*/
body>aside{
    grid-area: aside;
    border: solid;
}

body>main{
    grid-area: main;

    display: grid;
    grid-template-areas: "header header header"
                         "borde section borde";
    grid-template-columns: 10vw 80vw 10vw;

}
body>main>header{
    grid-area: header;

}

body>main>header>h1{
    border: solid;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: #C4C4C4;
    text-align: center;
}

body>main>section{
    display: grid;
    justify-content: center;
    grid-area: section;
}

@media (min-width: 900px) {

    body{
        display: grid;
        grid-template-areas: "header header header"
                         "aside   main   main";

        grid-template-columns: 10vw 80vw 10vw;
        align-items:center;
    }

}

/*body>header{
    background: #C4C4C4;
    padding: 10px;

}

body>header>h1{
    margin-top: 10px;
    width: 70%;
    display: inline-block;
}
body>header>nav{
    margin-bottom: 10px;
    display: inline-block;
}

#menu>li{
    display: inline-block;
}

body>aside{
    top: 100px;
    background-color: #6B4444;
    display: inline-block;
    height: 600px;
    width: 100px;
    padding: 80px;
    margin: 10px;
    line-height: 60px;
}
main>header>h1{
    border: solid;
    line-height: 60px;
    text-align: center;
    width: 400px;
}

body>main{

    display: inline-block;
}*/

