
li{
    display: flex;
}








article{

    /*display: inline-block;
    flex-wrap: wrap;*/
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 35vw;
    padding-left: 1vw;
    
}

article img{
    display: flex;
    float: left;
}

.titulo{
    display: inline-block;
    box-sizing: border-box;
    padding-left: 5vw;
    text-align: right;
    color: white;
}




.description{
    /*display: inline-block;
    box-sizing: border-box;*/
    width: 30vw;
    height: 30vh;
    float: right; 
}





.aside{
    display: inline-block;
    box-sizing: border-box;
    width: 20vw;
    position: relative;
    top:-130vh;
}

.aside img{
     width: 20vw;
     height: 90vh;
     background: #C4C4C4;
}





/* FOOTER */
