@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700;900&display=swap');

:root{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    --body-header-color: lightgrey;
    --topbar-color: lightgrey;
    --section-header-color: lightgrey;
    --section-color: grey;
    --details-color: lightgrey;
    --footer-color: lightgrey;
    --menu-color: darkgrey;
    --menu-buttons-color:  #A58E8E;

    --body-header-height: 9vh;
    --menu-width: 60vw;
    line-height: 1.5em;
}

@media (min-width: 600px){
    :root{
        font-size: 30px;
    }    

}

@media (min-width: 1000px){
    :root{
        font-size: 15px;
    }    
}

body>header{
    background-color: var(--body-header-color);
    height: var(--body-header-height);

    position: sticky;
    top: 0;


}

body>header>h1>img{
    margin-top: 1vh;
    float:left;
    border-radius: 50%;
    width: 7vh;
    height: 7vh;
}

body>header>h1{
    line-height: 9vh;

}


nav{
    display: none;
}

nav[open=""]{
    display: block;
    position: absolute;
    background-color: var(--menu-color);
    right: 0;
    top: 0;
    height: 100vh;
    width: var(--menu-width);
}

nav[open=""] ul{
    margin-top: var(--body-header-height);
    display: flex;
    flex-wrap: wrap;
}

nav[open=""] li{
    width: var(--menu-width);
    padding: 1rem;
    text-align: end;
    background-color: var(--menu-buttons-color);
    margin-bottom: 0.5rem;
    
}




/* ------------------- */

main>header>h1{
    text-align: center;
    padding: 1.9vh;
    background-color: var(--topbar-color);
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/* ----------------- */

section>header{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--section-header-color);
    margin-bottom: 1vh;

}

section>header h2{
    order: 1;
    width: 100vw;
    text-align: center;
    margin-bottom: 1vh;
    margin-left: 1.5vh;
    
    
}

section>header>button{
    order: 2;
    margin-bottom: 1vh
}

/* -------------- */

section>ol{
    background-color: var(--section-color);
    
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

section>ol>li{
    background-color: var(--details-color);
    width: 100vw;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    text-align: start;
}

section>ol>li:last-child{
    margin-bottom: 0.1rem;
}
/* ---------------------- */

body > footer{
    padding: 0.3rem;
    display: flex;
    background-color: var(--footer-color);
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1000px){

    :root{
        --section-height: 64vh;
        --turno-detalle-color: grey;
        --section-width: 50vw;

    }

    nav[open=""]{
        top: auto;
        width: 100vw;
        height: auto;
        
    }

    nav[open=""] ul{
        margin: 1rem 1rem;
        justify-content: center;
    }

    nav[open=""] li{
        text-align: center;

    }

    section>ol{
        width: var(--section-width);
        margin-bottom: 0.5rem;
        height: var(--section-height);
        position: relative;
        display: block;
    }

    details>div{
        
        position: absolute;
        left: 800px; /* esto esta dudoso */
        top: 0px;
        width: 47vw;
        background-color: var(--turno-detalle-color);
    
        height: var(--section-height);
        padding: 0.5rem;
    }

    summary{
        padding: 1.3rem;
    }

    section > ol > li{
        width: calc(var(--section-width)- 1rem);
        height: 8vh;
        
    }




    /* ACA QUERIA PONERLO ABAJO DEL HEADER PERO NO PUDE HACER QUE OCUPE LUGAR
    nav[open=""]{
        position: relative;
        top: -100px;
        height: auto;
        width: 100vw;
    }

    nav[open=""] ul{

    }

    nav[open=""] li{
        width: auto;
    }
    */


}

details>div{
    display: grid;
    grid-template-areas: 
    "fotomedico nombremedico"
    "horaturno consultorionumero"
    "preparaciones detallepreparaciones"
    "recordatorios detallerecordatorios";
    
}
details>div *{
    padding: 1rem;
}

details>div>img{
    grid-area: fotomedico;
}

details>div>p:first-of-type{
    grid-area: nombremedico;
}

details>div>time{
    grid-area: horaturno;
}

details>div>p:nth-of-type(2){
    grid-area: consultorionumero;
}
