@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700;900&display=swap');


:root{
    font-size: 10px;
}

html{
    font-family: 'Roboto', sans-serif;
}

body>header>h1{
    /*height: 10%;*/
    height: 5vmax;
    border: solid blue;
}

nav>ul>li{
    display: none;
}

nav{
    position: absolute;
    width: 100vmax;
    height: 29vmin;
    background-color: #C4C4C4;
    margin-top: 2px;
    z-index: 1;
    display: none;
    
}
/* MAIN */

main>header{
    height: 10%;

    background: #C4C4C4;
    margin-top: 15px;
    border: solid red;
}

main>header>h1{
    line-height: 60px;
    text-align: center;
}

/* MAIN - SECTION - HEADER */

section>header{
    margin-left: 230px;
    margin-bottom: 10px;
}

section>header>h2{
    display: inline-block;
    margin-left: 860px;
}

section>header a{
    background: #3C3838;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    text-decoration: solid;
    padding: 4px 5px 6px 5px;
}

/* MAIN - SECTION - HEADER */

main>section>ol>li{
    position: relative;
}

main>section{
    height: 74vmax;
    margin: 25px 25px;
    padding: 10px;
    background: lightgrey;
    border: solid green;
}

section>ol{
    background: rgb(109,98,98);
    width: 50%;
    min-height: 420px;
    max-height: 420px;

    min-width: 700px;
    max-width: 700px;
    
}

details[open]{
    position: absolute;
    left: 620px;
    margin-left: 100px;
    background:rgb(109,98,98);
    width: 735px;
    height: 415px;
}

details[open]>summary{
    position: relative;
    left: -720px;
}

details[open]>img{
    position: relative;
    left: -80px;
    bottom: 90px;
}

details>summary{
    position: relative;
    width: 629px;
    background: turquoise;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 25px;
}

/* END MAIN */

/* FOOTER */

body>footer{
    height: 10%;

    background: #C4C4C4;
    border: solid #000000;
    display: grid;
    grid-template-areas:
    "izquierda centro derecha";
    grid-template-columns: 1fr 1fr 1fr;
    
}

footer ul{ /* Redes Sociales */
    grid-area: derecha;
    justify-self: end;
}

footer address{
    grid-area: izquierda;
}

footer>address>p:last-of-type{
    grid-area: centro;
}

footer img{
    grid-area: centro;
    width: 20px;
    height: 20px;
    justify-self: center;
    align-self: center;
    
}

/* END FOOTER */


